<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">My ISRAE Tales</h1>
        <p class="lead blog-description">We are here to explorer the unknown</p>
    </div>

    <div class="row" ng-controller="blogCtrl">

        <div class="col-sm-8 blog-main">

          <!-- new-blog-->
            <form class="newBlog" ng-show="showNewBlog">
                <div class="form-group">
                    <label class="sr-only" for="blogTitle">Title</label>
                    <input id="blogTitle" input="text" class="form-control" placeholder="Blog title">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="blogTitle">Date</label>
                    <input id="blogDate" input="text" class="form-control" placeholder="Blog Date">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="blogAuthor">Author</label>
                    <input id="blogAuthor" input="text" class="form-control" placeholder="Blog Author">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="blogBody">Body</label>
                    <textarea id="blogBody" input="text" class="form-control" placeholder="Blog" rows="20"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-default" ng-click="show">Cancel</button>

            </form>
            <!-- /.new-blog -->

            <!-- blog-post -->
            <div class="blog-post" ng-repeat="blog in blogs" ng-controller="TextBtnCtrl">
                <h2 class="blog-post-title" editable-textarea="blog.title" e-form="textBtnForm" onaftersave="updateBlog(blog._id, $data)">{{blog.title}}</h2>
                <p class="blog-post-meta">{{blog.date}} {{blog.author}}</a>
                </p>
                <p editable-textarea="blog.body" e-form="textBtnForm" e-rows="20" e-cols="100">{{blog.body}}</p>
                <button class="edit btn btn-primary" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">Edit</button>
                <button class="delete btn btn-danger" ng-click="deleteBlog(blog._id)">Delete</button>
            </div>
            <!-- /.blog-post -->

            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>

        </div>
        <!-- /.blog-main -->

        <button class="btn btn-success" ng-click="showNewBlog = !showNewBlog">New Post</button>

        <!-- SIDEBAR -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>ISRAE is dedicated to providing quantifiable evidence for believers and skeptics alike. Journey with us into the unknown and judge for yourself; are these shared experiences or just tricks of the mind?</p>
            </div>

            <div class="sidebar-module">
                <h4>Or check us out here:</h4>
                <ol class="list-unstyled">
                    <li>
                        <a href="https://twitter.com/ISRAEResearch"><img src="/images/twitter-wrap.png" alt="twitter logo" width="15" height="15"> Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/anomalousfieldphenomena"><img src="/images/facebook-wrap.png" alt="facebook logo" width="15" height="15"> Facebook</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.blog-sidebar -->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
